.bg-image{
    background-image: url("../img/main_bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
    background-size: cover;
    overflow: hidden;
}
.bg-shadow{
    background-color: rgba(0, 0, 0, .5);
}
.underline {
    position: relative;
}

.underline:before {
    margin-left: 348px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 660px;
    height: 2px;
    background-color: white;
  }
  .container2{
    display: flex;
    align-items: center;
  }
.bg-gray{
    background-color: #F3F3F3;
}
.bg-image2{
    background-image: url("../img/china.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
    background-size: cover;
    overflow: hidden;
}
.shadow{
    -webkit-box-shadow: 0px 0px 48px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 48px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 48px -11px rgba(0,0,0,0.75);
}
.btn2{
    background-color: #EC644A; 
    border-radius: 20px; 
    width: 150px;
    border: none;
}
.border{
    border: 10px solid black;
}
.input{
    border-radius: 20px;
    width: 250px;
}
.bg-image3{
    background-image: url("../img/images.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
    background-size: cover;
    overflow: hidden;
}
.bg-image4{
    background-image: url("../img/plane_1.jpg");
    background-color: #cccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
    background-size: cover;
    overflow: hidden;
}
/* .bg-image5{
    background-image: url("../img/kartagoogle1000.jpg");
    background-color: #cccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
    background-size: cover;
    overflow: hidden;
    padding-top: 500px;
    
} */
.bg-gray2{
    background-color: gray;
}
.ts{
    transform: scale(10);
}